.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

hr {
  border: 7px solid #595b83;
  border-radius: 3px;
}

input[type='text'] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

input[type='number'] {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

input[type='submit'] {
  padding: 5px 15px;
  margin: 15px 0;
  background: #16c79a;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 10em;
  height: 3em;
  font-size: large;
}
